@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*=============================================*/
/*                   VARIABLES                 */
/*=============================================*/

:root {
	--body-alt-color: #e0d1ed;
	--title-alt-color: #f0b9cf;
	--bg-primary-color: #e63c80;
	--bg-secondary-color: #c70452;
	--title-color: #4b004c;
	--body-color: #fff;
	--text-color: #222;

	--bg-lg: linear-gradient(
		27deg,
		var(--bg-primary-color),
		var(--title-color) 150%
	);

	--title-font-family: 'Oswald', serif;
	--general-font-family: 'Roboto', serif;

	--regular-font: 400;
	--medium-font: 500;
	--semi-bold-font: 600;

	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;

	--normal-font-size: 0.958rem;
	--small-font-size: 0.813rem;

	--container-max-width: 1280px;
}

/*=============================================*/
/*                     BASE                    */
/*=============================================*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--general-font-family);
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--body-color);
	color: var(--text-color);
	overflow-x: hidden;
	position: relative;
}

h1,
h2,
h3 {
	font-family: var(--title-font-family);
	color: var(--title-color);
	font-weight: var(--semi-bold-font);
}

h1 {
	font-size: var(--h1-font-size);
}

h2 {
	font-size: var(--h2-font-size);
}

h3 {
	font-size: var(--h3-font-size);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
select,
textarea,
button {
	outline: none;
	background-color: transparent;
	border: none;
}

button,
select {
	cursor: pointer;
}

a,
button {
	transition: 0.4s ease-in-out;
}

/*=============================================*/
/*                   REUSABLE                  */
/*=============================================*/

.wrapper-container {
	max-width: var(--container-max-width);
	padding: 0 0.75rem;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
}

.logo span,
.logo span b {
	padding-top: 0.5rem;
	font-family: var(--title-font-family);
	font-weight: var(--semi-bold-font);
	color: var(--title-color);
}

.logo img {
	width: 40px;
	margin-right: 0.5rem;
}

.btn {
	border-radius: 0.25rem;
	padding: 0.75rem 1.25rem;
	transition: 0.45s ease-in;
	color: var(--body-color);
}

.wave {
	width: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
}

.wave.bottom {
	bottom: 0;
}

.wave.top {
	top: 0;
}

.section {
	padding-block: 3.5rem;
}

.section-title {
	text-align: center;
	font-size: 1.85rem;
	font-weight: var(--medium-font);
	text-transform: capitalize;
	width: fit-content;
	margin: 0 auto;
	margin-bottom: 3.5rem;
}

.hidden {
	display: none !important;
}

.show {
	display: flex !important;
}

/*=============================================*/
/*                NAVBAR Elment                */
/*=============================================*/

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: var(--body-color);
	display: flex;
	align-items: center;
	z-index: 30;
	box-shadow: 0 2px 25px 20px rgba(0, 0, 0, 0.045);
	transition: 0.3s ease-in-out;
}

#navbar.static {
	background-color: transparent;
	box-shadow: unset;
}

#navbar.static .logo {
	margin-bottom: 0.5rem;
}

#navbar.static .logo span,
#navbar.static .logo span b {
	color: var(--body-alt-color);
}

#navbar .inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#show-menu,
#close-menu {
	color: var(--title-color);
	font-size: 1.45rem;
	display: none;
	justify-content: center;
	align-items: center;
	transition: 0.3s ea;
}

#show-menu:hover,
#close-menu:hover {
	color: var(--body-alt-color);
}

#show-menu i,
#close-menu i {
	pointer-events: none;
}

.navbar-menu {
	display: flex;
	align-items: center;
	gap: 1rem;
	background-color: var(--body-color);
	transition: 0.3s ease-in-out;
}

.navbar-menu.static {
	background-color: transparent;
}

.navbar-menu li a {
	color: var(--title-color);
	font-weight: var(--semi-bold-font);
	transition: 0.3s ease-in-out;
	font-size: var(--normal-font-size);
}

.navbar-menu li a:hover {
	color: var(--bg-secondary-color);
}

.navbar-menu.static li a {
	color: var(--body-color);
}
.navbar-menu.static li a:hover {
	color: var(--title-alt-color);
}

/*=======      End of NAVBAR Elment     =======*/

/*=============================================*/
/*             HEADER Section                  */
/*=============================================*/

#header {
	height: 100vh;
	background-image: var(--bg-lg);
	position: relative;
}

#header .inner {
	display: grid;
	grid-template-columns: 41% 55%;
	grid-template-rows: repeat(1, 1fr);
	column-gap: 4%;
	align-items: center;
	height: 100%;
	flex: 1;
}

.header-left {
	display: flex;
	flex-direction: column;
	gap: 1.35rem;
}

.header-title,
.header-title span {
	font-size: 2.5rem;
	font-family: var(--title-font-family);
}

.header-subtitle {
	font-size: var(--h2-font-size);
	font-weight: var(--medium-font);
	color: var(--title-alt-color);
}

.header-btn {
	background-color: var(--title-color);
	width: fit-content;
	color: var(--body-alt-color);
}

.header-btn:hover {
	background-color: var(--text-color);
}

/*=======    End of HEADER Section      =======*/

/*=============================================*/
/*              ABOUT Section                  */
/*=============================================*/

#about {
	padding-bottom: 5.5rem;
}

.about-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 2.25rem;
	row-gap: 2.5rem;
}

.about-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25rem;
	box-shadow: 2px 3px 25px 5px rgba(199, 4, 82, 0.08);
	border-radius: 0.25rem;
	padding: 2rem 1.25rem;
	text-align: center;
	transition: 0.5s ease-in-out;
	cursor: grab;
}

.about-item-icon i {
	transition: 0.3s ease-in-out;
	box-shadow: 2px 3px 25px 5px rgba(199, 4, 82, 0.08);
	border-radius: 50%;
	font-size: 2.5rem;
	color: var(--bg-secondary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.85rem;
}

.about-item:hover {
	transform: scale(1.055);
	box-shadow: 2px 3px 25px 5px rgba(199, 4, 82, 0.15);
}

.about-item:hover .about-item-icon i {
	transform: scale(1.085);
	background-color: var(--bg-secondary-color);
	color: var(--body-color);
}

.about-item-title {
	font-size: var(--h2-font-size);
}

.about-item-description {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/*=======     End of ABOUT Section      =======*/

/*=============================================*/
/*             BENEFITS Section                */
/*=============================================*/

.benefits-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1.5rem;
	align-items: center;
}

.benefits-left {
	background-color: var(--body-color);
	padding: 1.85rem 1.5rem;
	border-radius: 0.25rem;
	box-shadow: 2px 3px 30px 20px rgba(199, 4, 82, 0.035);
	translate: 0.35s ease-in-out;
}

.benefits-left:hover {
	transform: scale(1.011);
}

.benefits-left-title {
	font-size: var(--h2-font-size);
	margin-bottom: 2.5rem;
	text-transform: uppercase;
}

.benefits-items {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.benefits-item {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	box-shadow: 2px 3px 30px 20px rgba(0, 0, 0, 0.015);
	padding: 0.75rem;
	border-radius: 0.25rem;
	cursor: grab;
	transition: 0.35s ease-in-out;
}

.benefits-item:hover {
	box-shadow: 2px 3px 30px 20px rgba(0, 0, 0, 0.055);
	transform: scale(1.055);
	background-color: var(--title-alt-color);
}

.benefits-item h4 {
	color: var(--bg-secondary-color);
	font-weight: var(--semi-bold-font);
	font-size: var(--h3-font-size);
	text-transform: uppercase;
}

.benefits-item p {
	font-weight: var(--regular-font);
	color: var(--title-color);
	font-size: var(--h3-font-size);
}

/*=======    End of BENEFITS Section    =======*/

/*=============================================*/
/*          TESTIMONIALS Section               */
/*=============================================*/

#testimonials .inner {
	width: 100%;
}

.testimonials-items {
	display: flex;
	align-items: center;
	gap: 1.35rem;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: visible;
	padding-block: 3rem;
}

.testimonials-item {
	background-color: var(--body-color);
	min-width: calc(var(--container-max-width) / 4 - 1.35rem);
	padding: 0.85rem 1.25rem;
	border-left: 4px solid var(--bg-secondary-color);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	filter: drop-shadow(0 1px 15px rgba(75, 0, 76, 0.08));
	border-radius: 0.25rem;
}

.testimonial-text {
	font-weight: var(--regular-font);
	color: rgba(34, 34, 34, 0.75);
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: var(--normal-font-size);
}

.testimonial-user {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.testimonial-user-photo {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	border: 4px solid var(--bg-primary-color);
	object-fit: cover;
}

.testimonial-user-info {
	display: flex;
	flex-direction: column;
}

.testimonial-user-name,
.testimonial-user-position {
	font-size: var(--small-font-size);
}

.testimonial-user-name {
	font-weight: var(--semi-bold-font);
	color: var(--title-color);
	font-size: var(--normal-font-size);
}

.testimonial-user-position {
	color: rgba(34, 34, 34, 0.62);
}

/*=======  End of TESTIMONIALS Section  =======*/

/*=============================================*/
/*          SOCIAL MEDIA Section               */
/*=============================================*/

#social-media .inner {
	width: 100%;
}

.social-media-items {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.85rem;
}

.social-media-item {
	height: 40px;
	width: 40px;
	background-color: var(--bg-secondary-color);
	border-radius: 0.25rem;
	overflow: visible;
	transition: 0.3s ease-in-out;
}

.social-media-item a {
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	transition: 0.3s ease-in-out;
}

.social-media-item i {
	color: var(--body-alt-color);
	font-size: var(--normal-font-size);
	font-weight: bold;
	pointer-events: none;
	transition: 0.4s ease-in-out;
}

.social-media-item:hover {
	transform: scale(1.13);
}

.social-media-item a:hover i {
	color: var(--body-color);
}

/*=======  End of SOCIAL MEDIA Section  =======*/

/*=============================================*/
/*                FOOTER Elment                */
/*=============================================*/

#footer {
	position: relative;
	background-image: var(--bg-lg);
	padding-top: 258px;
	padding-bottom: 74px;
}

.footer-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 2.5rem;
	align-items: flex-start;
}

.footer-item {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer-title {
	text-transform: capitalize;
	font-weight: var(--semi-bold-font);
}

.footer-item-description {
	color: var(--body-alt-color);
	font-size: var(--normal-font-size);
	line-height: 1.5;
	text-align: justify;
}

.footer-address-items {
	display: flex;
	flex-direction: column;
	gap: 0.85rem;
}

.footer-address-item {
	display: flex;
	flex-direction: column;
	gap: 0.65rem;
}

.footer-address-title {
	font-size: var(--normal-font-size);
	font-weight: var(--semi-bold-font);
	color: var(--title-color);
}

.footer-address-list li {
	font-size: var(--small-font-size);
	font-weight: var(--medium-font);
	color: var(--body-alt-color);
}

.footer-address-list li a {
	color: var(--text-color);
}

.footer-form {
	display: flex;
	flex-direction: column;
	gap: 0.85rem;
}

.footer-contact-field {
	display: flex;
	flex-direction: column;
	gap: 0.45rem;
}

.footer-contact-field label {
	font-size: var(--small-font-size);
	color: var(--title-color);
	font-weight: var(--medium-font);
}

.footer-contact-field input,
.footer-contact-field textarea,
.footer-contact-field input::placeholder,
.footer-contact-field textarea::placeholder {
	font-size: var(--normal-font-size);
	font-weight: var(--regular-font);
	border: 1px solid var(--title-alt-color);
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
}

.footer-contact-field input,
.footer-contact-field textarea {
	color: var(--body-alt-color);
}

.footer-contact-field input::placeholder,
.footer-contact-field textarea::placeholder {
	color: var(--title-alt-color);
}

.footer-contact-btn {
	background-image: linear-gradient(
		89deg,
		var(--title-color),
		var(--text-color)
	);
}

.footer-contact-btn:hover {
	background-image: linear-gradient(
		-89deg,
		var(--title-color),
		var(--text-color)
	);
}

/*=======      End of FOOTER Elment     =======*/

/*=============================================*/
/*                   CREDITS AREA              */
/*=============================================*/

#credit {
	background-color: var(--text-color);
	padding-block: 0.75rem;
}

.credit-content {
	width: 100%;
	text-align: center;
	color: var(--body-alt-color);
	font-size: var(--small-font-size);
}

.credit-content span,
.credit-content a {
	color: var(--body-color);
	font-weight: var(--regular-font);
}

.credit-content a {
	color: var(--title-alt-color);
}

/*=============================================*/
/*                   RESPONSIVE                */
/*=============================================*/

@media screen and (min-width: 769px) {
	#show-menu,
	#close-menu {
		display: none !important;
	}
}

@media screen and (max-width: 768px) {
	#show-menu {
		display: flex;
	}

	.navbar-menu {
		position: absolute;
		flex-direction: column;
		left: 50%;
		top: 150px;
		transform: translate(-50%, -50%);
		width: 100%;
		padding-bottom: 1rem;
		display: none;
	}
}
