@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*=============================================*/
/*                   VARIABLES                 */
/*=============================================*/

:root {
	--body-alt-color: #e0d1ed;
	--title-alt-color: #f0b9cf;
	--bg-primary-color: #e63c80;
	--bg-secondary-color: #c70452;
	--title-color: #4b004c;
	--body-color: #fff;
	--text-color: #222;

	--title-font-family: 'Oswald', serif;
	--general-font-family: 'Roboto', serif;

	--regular-font: 400;
	--medium-font: 500;
	--semi-bold-font: 600;

	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;

	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
}

/*=============================================*/
/*                     BASE                    */
/*=============================================*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--general-font-family);
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--body-color);
	color: var(--text-color);
	overflow-x: hidden;
	position: relative;
}

h1,
h2,
h3 {
	font-family: var(--title-font-family);
	color: var(--title-color);
	font-weight: var(--semi-bold-font);
}

h1 {
	font-size: var(--h1-font-size);
}

h2 {
	font-size: var(--h2-font-size);
}

h3 {
	font-size: var(--h3-font-size);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
select,
textarea,
button {
	outline: none;
	background-color: transparent;
	border: none;
}

button,
select {
	cursor: pointer;
}

a,
button {
	transition: 0.4s ease-in-out;
}

/*=============================================*/
/*                   REUSABLE                  */
/*=============================================*/

.wrapper-container {
	max-width: 1280px;
	padding: 0 0.75rem;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
}

.logo span,
.logo span b {
	padding-top: 0.5rem;
	font-family: var(--title-font-family);
	font-weight: var(--semi-bold-font);
	color: var(--title-color);
}

.logo img {
	width: 40px;
	margin-right: 0.5rem;
}

.btn {
	border-radius: 0.25rem;
	padding: 0.75rem 1.25rem;
	transition: 0.45s ease-in;
	color: var(--body-color);
}

.wave {
	width: 100%;
	object-fit: cover;
	position: absolute;
}

.wave.bottom {
	left: 0;
	bottom: 0;
}

.section-title {
	text-align: center;
	font-size: 1.85rem;
	font-weight: var(--medium-font);
	text-transform: capitalize;
	position: relative;
	width: fit-content;
	margin: 0 auto;
	margin-bottom: 5.5rem;
	margin-top: 3rem;
}

.section-title::before,
.section-title::after {
	position: absolute;
	content: '';
	width: 100%;
	margin-top: 0.35rem;
	height: 3px;
	background-color: var(--bg-primary-color);
	display: block;
	transform: translate(-50%, -50%);
	left: 50%;
	border-radius: 0.25rem;
}

.section-title::before {
	bottom: -0.85rem;
	background-color: var(--bg-secondary-color);
}

/*=============================================*/
/*                NAVBAR Elment                */
/*=============================================*/

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: var(--body-color);
	display: flex;
	align-items: center;
	z-index: 30;
	box-shadow: 0 2px 25px 20px rgba(0, 0, 0, 0.025);
}

#navbar.static {
	background-color: transparent;
	box-shadow: unset;
}

#navbar.static .logo span,
#navbar.static .logo span b {
	color: var(--body-alt-color);
}

#navbar .inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
}

.navbar-menu {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.navbar-menu li a {
	color: var(--title-color);
	font-weight: var(--semi-bold-font);
	transition: 0.3s ease-in-out;
	font-size: var(--normal-font-size);
}

.navbar-menu li a:hover {
	color: var(--bg-secondary-color);
}

.navbar-menu.static li a {
	color: var(--body-color);
}
.navbar-menu.static li a:hover {
	color: var(--title-alt-color);
}

/*=======      End of NAVBAR Elment     =======*/

/*=============================================*/
/*             HEADER Section                  */
/*=============================================*/

#header {
	height: 100vh;
	background-image: linear-gradient(
		27deg,
		var(--bg-primary-color),
		var(--title-color) 150%
	);
	position: relative;
}

#header .inner {
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: repeat(1, 1fr);
	column-gap: 2rem;
	align-items: center;
	height: 100%;
	flex: 1;
}

.header-left {
	display: flex;
	flex-direction: column;
	gap: 1.35rem;
}

.header-title,
.header-title span {
	font-size: 2.5rem;
	font-family: var(--title-font-family);
}

.header-subtitle {
	font-size: var(--h2-font-size);
	font-weight: var(--medium-font);
	color: var(--title-alt-color);
}

.header-btn {
	background-color: var(--title-color);
	width: fit-content;
	color: var(--body-alt-color);
}

.header-btn:hover {
	background-color: var(--text-color);
}

/*=======    End of HEADER Section      =======*/

/*=============================================*/
/*              ABOUT Section                  */
/*=============================================*/

.about-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 2.25rem;
	grid-template-rows: repeat(2, 1fr);
	row-gap: 2.5rem;
}

.about-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25rem;
	box-shadow: 2px 3px 25px 5px rgba(199, 4, 82, 0.08);
	border-radius: 0.25rem;
	padding: 2rem 1.25rem;
	text-align: center;
	transition: 0.5s ease-in-out;
	cursor: grab;
}

.about-item-icon i {
	transition: 0.3s ease-in-out;
	box-shadow: 2px 3px 25px 5px rgba(199, 4, 82, 0.08);
	border-radius: 50%;
	font-size: 2.5rem;
	color: var(--bg-secondary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.85rem;
}

.about-item:hover {
	transform: scale(1.055);
	box-shadow: 2px 3px 25px 5px rgba(199, 4, 82, 0.15);
}

.about-item:hover .about-item-icon i {
	transform: scale(1.085);
	background-color: var(--bg-secondary-color);
	color: var(--body-color);
}

.about-item-title {
	font-size: var(--h2-font-size);
}

/*=======     End of ABOUT Section      =======*/

/*=============================================*/
/*             BENEFITS Section                */
/*=============================================*/

/*=======    End of BENEFITS Section    =======*/

/*=============================================*/
/*          TESTIMONIALS Section               */
/*=============================================*/

/*=======  End of TESTIMONIALS Section  =======*/

/*=============================================*/
/*          SOCIAL MEDIA Section               */
/*=============================================*/

/*=======  End of SOCIAL MEDIA Section  =======*/

/*=============================================*/
/*                FOOTER Elment                */
/*=============================================*/

/*=======      End of FOOTER Elment     =======*/
